<h1>Welcome to Tweeter!</h1>

<%= render 'new' %>

<% @tweets.each do |tweet| %>
  <li>
  <%= tweet.content %> <br>
  @<%= tweet.user.username%> <br>
  <%= link_to "delete", tweet_path(tweet), method: :delete, data: {confirm: 'Are you sure?'} %>
  </li>
<% end %>
